*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body{
  background: #c1ebff;
}
.navbar{
  width: 100%;
  padding: 25px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  color: black;
  font-size: 32px;
  font-weight: bold;
}
.menu{
  display: flex;
  list-style: none;
  gap: 35px;
}
.menu a{
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 600;
}
.nav-buttons{
  display: flex;
  align-items: center;
  gap: 25px;
}
.login{
  color: #82e63b;
  text-decoration: none;
  font-weight: bold;
}
.nav-buttons button{
  background: #60a82c;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
